html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --mainCat-bg-color: #6897bb;
}

:root {
    --secondCat-bg-color: #aaf2d1;
}

.td_cat {
    background-color: var(--mainCat-bg-color) !important;
}

.td_multi_cat {
    background: linear-gradient(110deg, var(--mainCat-bg-color) 60%, var(--secondCat-bg-color) 60%) !important;
}